{% extends "admin/change_list.html" %}
{% load humanize admin_list%}
{% block content_title %}
    <h1>GST Summary</h1>
{% endblock%}

{% block result_list %}
{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
<table>
    <thead>
        <th>Orders</th>
        <th>Item Total(&#8377)</th>
        <th>GST(&#8377)</th>
        <th>CST(&#8377)</th>
        <th>Grand Total</th>
        <th>Pay</th>
    </thead>
    <tbody>
        {%for order_id, gst, cst , item_total, gst_status, customer_name, grand_total in details%}
        <tr>
            <td><a href="/admin/home/paymentsummary/paysummary/{{order_id}}">Order#{{order_id}} {{customer_name}}</a></td>
            <td>{{item_total | floatformat:2}}</td>
            <td>{{gst | floatformat:2}}</td>
            <td>{{cst | floatformat:2}}</td>
            <td>{{grand_total | floatformat:2}}</td>
            <td> {%if gst_status == "Unpaid"%}<input type="checkbox" name="_selected_action" value={{order_id}} class="action-select"> {%else%}{{gst_status}}{%endif%}</td> 
        </tr>
        {%endfor%}
        <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
            <td>Total(&#8377)</td>
            <td></td>
            <td>₹{{gst_total | floatformat:2}}</td>
            <td>₹{{cst_total | floatformat:2}}</td>
        </tr>
        
    </tbody>
</table>


{% endblock %}

{% block pagination %}{% endblock %}